{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/patients/specialists' %}active{% endif %}" href="{{ url_for('certified_specialists') }}">Специалисты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/patients/implants' %}active{% endif %}" href="{{ url_for('implants') }}">Импланты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/patients/articles' %}active{% endif %}" href="{{ url_for('patient_articles') }}">Статьи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/patients/ethics' %}active{% endif %}" href="{{ url_for('ethics_committee') }}">Этика</a>
        </li>
      </ul>
    <h2>Полезные статьи</h2>
    {% if articles %}
        <div class="list-group">
            {% for article in articles %}
            <div class="list-group-item">
                <h5>{{ article.title }}</h5>
                <p>{{ article.content }}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных статей.</p>
    {% endif %}
</div>
{% endblock %}
