<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">Сообщество хирургов</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">Об организации</a></li>

                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('surgeons') }}">Хирургам</a></li>
                        {% endif %}

                        <li class="nav-item"><a class="nav-link" href="{{ url_for('certified_specialists') }}">Пациентам</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contacts') }}">Контакты</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                Личный кабинет
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                {% if current_user.is_authenticated %}
                                <li><a class="dropdown-item" href="{{ url_for('profile') }}">Мой профиль</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{{ url_for('login') }}">Войти</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('sign_up') }}">Зарегистрироваться</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Блок уведомлений -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer-custom text-light text-center p-3 mt-4">
        <p>&copy; 2025</p>
    </footer>
</body>
</html>
